In [41]:
import os
DIRECTORY_PATH = '/'
os.chdir(DIRECTORY_PATH)

# Imports / Load Data

In [42]:
import pandas as pd

In [43]:
df_movie_features = pd.read_pickle("notebooks/cat_boost_classifier_ranker/exploration_data/df_movie_features.pkl")
df_movie_features_static = pd.read_pickle("notebooks/cat_boost_classifier_ranker/exploration_data/df_movie_features_static.pkl")
df_user_features = pd.read_pickle("notebooks/cat_boost_classifier_ranker/exploration_data/df_user_features.pkl")
idx_user_movie_positive_examples = pd.read_pickle("notebooks/cat_boost_classifier_ranker/exploration_data/idx_user_movie_positive_examples.pkl")
idx_user_movie_negative_examples = pd.read_pickle("notebooks/cat_boost_classifier_ranker/exploration_data/idx_user_movie_negative_examples.pkl")
df_user_movie_features = pd.read_pickle("notebooks/cat_boost_classifier_ranker/exploration_data/df_user_movie_features.pkl")
df_user_movie_features_train = pd.read_pickle("notebooks/cat_boost_classifier_ranker/exploration_data/df_user_movie_features_train.pkl")
df_user_movie_features_test = pd.read_pickle("notebooks/cat_boost_classifier_ranker/exploration_data/df_user_movie_features_test.pkl")

# Model

 - **Model:** Gradient Boost Classifier
   
 - **Implemented with:** [CatBoostClassifier](https://catboost.ai/docs/en/concepts/python-reference_catboostclassifier)
  
 - **Loss Function:** [Logloss](https://catboost.ai/docs/en/concepts/loss-functions-classification#Logit)
  
 - **Target:** `has_seen_movie` (as proxy we use if user has rated the movie)
  
 - **Description:**  
   The model predicts the category (1 or 0) for target `has_seen_movie`.  
   The [predict_proba](https://catboost.ai/docs/en/concepts/python-reference_catboostclassifier_predict_proba) can then be used to get the probability that a user has seen a movie.  
   The ranker score is the probability a user has seen a movie.

# Movie Features

In [44]:
df_movie_features

        movie_id   timestamp  movie_total_user_count  movie_avg_rating
0              1   829322340                       1          4.000000
1              1   829759809                       2          4.000000
2              1   830247330                       3          3.666667
3              1   831400444                       4          3.750000
4              1   831939685                       5          4.000000
...          ...         ...                     ...               ...
100831    193581  1537109082                       1          4.000000
100832    193583  1537109545                       1          3.500000
100833    193585  1537109805                       1          3.500000
100834    193587  1537110021                       1          3.500000
100835    193609  1537157606                       1          4.000000

[100836 rows x 4 columns]

In [45]:
df_movie_features_static

,movie_id,movie_year,movie_(no genres listed),movie_Action,movie_Adventure,movie_Animation,movie_Children,movie_Comedy,movie_Crime,movie_Documentary,...,movie_Film-Noir,movie_Horror,movie_IMAX,movie_Musical,movie_Mystery,movie_Romance,movie_Sci-Fi,movie_Thriller,movie_War,movie_Western
0,1,1995.0,0,0,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,1995.0,0,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,1995.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,1995.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,1,0,0,0,0
4,5,1995.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9737,193581,2017.0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9738,193583,2017.0,0,0,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
9739,193585,2017.0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9740,193587,2018.0,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9741,193609,1991.0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

# User Features

In [46]:
df_user_features

,user_id,timestamp,user_avg_rating,user_avg_year,user_total_movie_count,user_movie_percent_(no genres listed),user_movie_percent_Action,user_movie_percent_Adventure,user_movie_percent_Animation,user_movie_percent_Children,...,user_movie_percent_Film-Noir,user_movie_percent_Horror,user_movie_percent_IMAX,user_movie_percent_Musical,user_movie_percent_Mystery,user_movie_percent_Romance,user_movie_percent_Sci-Fi,user_movie_percent_Thriller,user_movie_percent_War,user_movie_percent_Western
0,1,964980499,4.500000,1989.500000,2,0.0,0.500000,0.500000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,0.000000,0.000000,0.000000
1,1,964980523,4.400000,1983.800000,5,0.0,0.600000,0.600000,0.200000,0.200000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.400000,0.000000,0.000000,0.000000
2,1,964980668,4.500000,1986.500000,6,0.0,0.666667,0.666667,0.166667,0.166667,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.166667,0.333333,0.000000,0.000000,0.000000
3,1,964980683,4.428571,1988.428571,7,0.0,0.571429,0.571429,0.142857,0.142857,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.285714,0.000000,0.000000,0.000000
4,1,964980694,4.375000,1989.875000,8,0.0,0.625000,0.500000,0.125000,0.125000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.125000,0.250000,0.125000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85041,610,1495959269,3.688367,2002.627119,1298,0.0,0.397535,0.205701,0.050847,0.043143,...,0.007704,0.230354,0.063174,0.010786,0.092450,0.091680,0.193374,0.391371,0.036210,0.025424
85042,610,1495959282,3.688607,2002.622017,1299,0.0,0.397998,0.205543,0.050808,0.043110,...,0.007698,0.230947,0.063125,0.010778,0.092379,0.091609,0.193226,0.391840,0.036182,0.025404
85043,610,1495959299,3.688462,2002.616154,1300,0.0,0.397692,0.205385,0.050769,0.043077,...,0.007692,0.231538,0.063077,0.010769,0.092308,0.091538,0.193077,0.392308,0.036154,0.025385
85044,610,1495959405,3.688317,2002.594158,1301,0.0,0.397387,0.205227,0.050730,0.043044,...,0.007686,0.232129,0.063028,0.010761,0.092237,0.091468,0.192929,0.392006,0.036126,0.025365
85045,610,1495959411,3.688556,2002.582181,1302,0.0,0.397081,0.205069,0.050691,0.043011,...,0.007680,0.232719,0.062980,0.010753,0.092166,0.091398,0.192780,0.391705,0.036098,0.025346

# Positive / Negative Index

In [47]:
idx_user_movie_positive_examples

        user_id  movie_id   timestamp  has_seen_movie
0             1       804   964980499               1
1             1      1210   964980499               1
2             1      2018   964980523               1
3             1      2628   964980523               1
4             1      2826   964980523               1
...         ...       ...         ...             ...
100831      610    101739  1495959269               1
100832      610        70  1495959282               1
100833      610       328  1495959299               1
100834      610      2459  1495959405               1
100835      610      3917  1495959411               1

[100836 rows x 4 columns]

In [50]:
idx_user_movie_negative_examples

        user_id  movie_id   timestamp  has_seen_movie
0             1      5307   964982703               0
1             1    165671   964981247               0
2             1      2534   964982224               0
3             1     99117   964983815               0
4             1      5353   964982931               0
...         ...       ...         ...             ...
100831      610      3648  1493848402               0
100832      610       619  1493850091               0
100833      610      2108  1494273047               0
100834      610      2861  1493846352               0
100835      610      1307  1493846415               0

[100836 rows x 4 columns]

# Combine Movie User Features

In [49]:
df_user_movie_features

,user_id,movie_id,timestamp,has_seen_movie,user_avg_rating,user_avg_year,user_total_movie_count,user_movie_percent_(no genres listed),user_movie_percent_Action,user_movie_percent_Adventure,...,movie_Film-Noir,movie_Horror,movie_IMAX,movie_Musical,movie_Mystery,movie_Romance,movie_Sci-Fi,movie_Thriller,movie_War,movie_Western
0,1,804,964980499,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,1,0,0,0,0
1,1,1210,964980499,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,1,0,0,0
2,1,2018,964980523,1,4.500000,1989.500000,2.0,0.0,0.500000,0.500000,...,0,0,0,0,0,0,0,0,0,0
3,1,2628,964980523,1,4.500000,1989.500000,2.0,0.0,0.500000,0.500000,...,0,0,0,0,0,0,1,0,0,0
4,1,2826,964980523,1,4.500000,1989.500000,2.0,0.0,0.500000,0.500000,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
201715,610,65216,1493848402,0,3.762652,2002.441296,988.0,0.0,0.446356,0.240891,...,0,0,0,0,0,0,0,1,1,0
201716,610,6506,1493850091,0,3.671085,2003.603977,1207.0,0.0,0.410108,0.205468,...,0,0,0,0,0,0,0,1,0,0
201717,610,185,1494273047,0,3.682955,2002.777170,1279.0,0.0,0.401095,0.207975,...,0,0,0,0,0,0,0,1,0,0
201718,610,160271,1493846352,0,3.909753,2000.572052,687.0,0.0,0.490539,0.243086,...,0,0,0,0,0,0,0,0,0,0
201719,610,90809,1493846415,0,3.912572,2000.661850,692.0,0.0,0.494220,0.241329,...,0,0,0,0,0,0,0,0,0,0

In [61]:
print("User Features:\n")
for col in [col for col in list(df_user_movie_features.columns) if col.startswith('user')]:
    print(col)

User Features:

user_id
user_avg_rating
user_avg_year
user_total_movie_count
user_movie_percent_(no genres listed)
user_movie_percent_Action
user_movie_percent_Adventure
user_movie_percent_Animation
user_movie_percent_Children
user_movie_percent_Comedy
user_movie_percent_Crime
user_movie_percent_Documentary
user_movie_percent_Drama
user_movie_percent_Fantasy
user_movie_percent_Film-Noir
user_movie_percent_Horror
user_movie_percent_IMAX
user_movie_percent_Musical
user_movie_percent_Mystery
user_movie_percent_Romance
user_movie_percent_Sci-Fi
user_movie_percent_Thriller
user_movie_percent_War
user_movie_percent_Western

In [62]:
print("Movie Features:\n")
for col in [col for col in list(df_user_movie_features.columns) if col.startswith('movie')]:
    print(col)

Movie Features:

movie_id
movie_total_user_count
movie_avg_rating
movie_year
movie_(no genres listed)
movie_Action
movie_Adventure
movie_Animation
movie_Children
movie_Comedy
movie_Crime
movie_Documentary
movie_Drama
movie_Fantasy
movie_Film-Noir
movie_Horror
movie_IMAX
movie_Musical
movie_Mystery
movie_Romance
movie_Sci-Fi
movie_Thriller
movie_War
movie_Western

# Split Train/Test

In [51]:
df_user_movie_features_train

,user_id,movie_id,timestamp,has_seen_movie,user_avg_rating,user_avg_year,user_total_movie_count,user_movie_count_(no genres listed),user_movie_count_Action,user_movie_count_Adventure,...,movie_Film-Noir,movie_Horror,movie_IMAX,movie_Musical,movie_Mystery,movie_Romance,movie_Sci-Fi,movie_Thriller,movie_War,movie_Western
0,429,13,828124615,0,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,0
1,429,22,828124615,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,1,0,0,1,0,0,1,0,0
2,429,150,828124615,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,1,0,0,0,0,0,0,0
3,429,161,828124615,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,1,0
4,429,165,828124615,1,NaN,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161337,495,122882,1458634764,1,4.403846,2008.230769,26.0,0.0,0.384615,0.230769,...,0,0,0,0,0,0,1,1,0,0
161338,495,2959,1458634866,1,4.407407,2008.481481,27.0,0.0,0.407407,0.259259,...,0,0,0,0,0,0,0,1,0,0
161339,495,116817,1458634866,0,4.407407,2008.481481,27.0,0.0,0.407407,0.259259,...,0,0,0,0,0,0,0,0,0,0
161340,495,1990,1458635162,0,4.428571,2008.142857,28.0,0.0,0.428571,0.250000,...,0,1,0,0,0,0,0,0,0,0
161341,495,99114,1458635162,1,4.428571,2008.142857,28.0,0.0,0.428571,0.250000,...,0,0,0,0,0,0,0,0,0,1

In [52]:
df_user_movie_features_test

,user_id,movie_id,timestamp,has_seen_movie,user_avg_rating,user_avg_year,user_total_movie_count,user_movie_count_(no genres listed),user_movie_count_Action,user_movie_count_Adventure,...,movie_Film-Noir,movie_Horror,movie_IMAX,movie_Musical,movie_Mystery,movie_Romance,movie_Sci-Fi,movie_Thriller,movie_War,movie_Western
0,495,5700,1458635171,0,4.448276,2008.275862,29.0,0.000000,0.448276,0.241379,...,0,0,0,0,0,0,1,0,0,0
1,495,72998,1458635171,1,4.448276,2008.275862,29.0,0.000000,0.448276,0.241379,...,0,0,1,0,0,0,1,0,0,0
2,495,2762,1458635237,1,4.466667,2008.300000,30.0,0.000000,0.466667,0.266667,...,0,1,0,0,1,0,0,0,0,0
3,495,117867,1458635237,0,4.466667,2008.300000,30.0,0.000000,0.466667,0.266667,...,0,0,0,0,0,0,0,1,1,0
4,495,3095,1458635247,0,4.467742,2008.000000,31.0,0.000000,0.451613,0.258065,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40343,514,5247,1537757040,1,3.315990,1991.000000,394.0,0.005076,0.243655,0.190355,...,0,0,0,0,0,0,0,0,0,0
40344,514,4890,1537757059,0,3.313924,1990.964467,395.0,0.005063,0.245570,0.189873,...,0,0,0,0,0,1,0,0,0,0
40345,514,5246,1537757059,1,3.313924,1990.964467,395.0,0.005063,0.245570,0.189873,...,0,0,0,0,0,0,0,0,0,0
40346,514,162,1537799250,1,3.309343,1990.936709,396.0,0.005051,0.247475,0.189394,...,0,0,0,0,0,0,0,0,0,0
40347,514,384,1537799250,0,3.309343,1990.936709,396.0,0.005051,0.247475,0.189394,...,0,0,0,0,0,0,0,0,0,0