In [1]:
import os
DIRECTORY_PATH = '/'
os.chdir(DIRECTORY_PATH)

In [2]:
import pandas as pd
from rankers.knn_item_based_ranker.config import CONFIG
from metrics.metrics import Metrics

true_positives = pd.read_pickle(CONFIG["df_true_positives_test_path"])
recommendations = pd.read_pickle(CONFIG["df_recommendations_user_test_path"])

In [8]:
recommendations

     user_id                             recommended
0          1          [2843, 1923, 2339, 2837, 2292]
1          2    [88593, 90528, 93598, 84392, 113849]
2          3          [2843, 2492, 1923, 2339, 2837]
3          4          [4736, 4451, 4991, 5525, 5466]
4          5             [8268, 423, 376, 227, 7017]
..       ...                                     ...
517      605  [33801, 57640, 168026, 103772, 122902]
518      606         [4990, 5218, 5448, 91353, 6377]
519      607           [3326, 4343, 2498, 7988, 671]
520      608     [55245, 58162, 51084, 51082, 52867]
521      609          [3091, 3811, 3724, 1263, 5747]

[522 rows x 2 columns]

In [4]:
true_positives

     user_id                                     true_positives
0         15  [1, 47, 260, 293, 296, 318, 356, 364, 527, 588...
1         18  [6, 16, 431, 435, 457, 466, 555, 628, 745, 913...
2         21  [296, 902, 1391, 2052, 2174, 2617, 2717, 2953,...
3         24  [6, 32, 50, 165, 253, 296, 316, 318, 356, 457,...
4         25  [231, 260, 527, 1198, 2028, 2571, 3578, 4993, ...
..       ...                                                ...
111      586  [2, 110, 161, 168, 185, 260, 316, 318, 339, 36...
112      596  [1, 32, 34, 39, 50, 141, 150, 153, 260, 329, 3...
113      599  [1, 2, 3, 6, 7, 9, 10, 11, 12, 15, 16, 17, 18,...
114      601  [1, 47, 904, 908, 912, 953, 1136, 1193, 1197, ...
115      610  [1, 6, 16, 32, 47, 50, 70, 95, 110, 111, 112, ...

[116 rows x 2 columns]

In [5]:
df_metrics = pd.DataFrame(Metrics.evaluate(recommendations, true_positives, k=5), columns=['knn_item_based_ranker'])
df_metrics

precision@5        0.028571
recall@5           0.001661
f1@5               0.003065
MRR@5              0.083333
MAP@5              0.077381
HitRate@5          0.107143
NDCG@5             0.036339
coverage           0.095498
personalization    1.000000
dtype: float64

In [6]:
Metrics.evaluate_by_row(recommendations, true_positives, k=5)

,user_id,recommended,true_positives,precision@5,recall@5,f1@5,MRR@5,MAP@5,HitRate@5,NDCG@5
0,15,"[70183, 70293, 84716, 74275, 73881]","[1, 47, 260, 293, 296, 318, 356, 364, 527, 588...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
1,18,"[4898, 4610, 2413, 5938, 5021]","[6, 16, 431, 435, 457, 466, 555, 628, 745, 913...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
2,21,"[181413, 182727, 174403, 141131, 152037]","[296, 902, 1391, 2052, 2174, 2617, 2717, 2953,...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
3,68,"[122886, 106002, 102880, 102445, 103772]","[18, 4366, 30749, 83134, 86880, 91094, 95441, ...",0.2,0.023810,0.042553,1.000000,1.000000,1,0.33916
4,103,"[795, 282, 408, 299, 896]","[367, 923, 1206, 1222, 1945, 2018, 2421, 2997,...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
5,105,"[101076, 52722, 6934, 6365, 82461]","[935, 2131, 4788, 5889, 8533, 37731, 54997, 56...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
6,112,"[158035, 167746, 101423, 193581, 170939]","[2, 6, 16, 17, 19, 21, 25, 36, 39, 62, 95, 104...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
7,119,"[97752, 103253, 90249, 64497, 4454]","[318, 7458, 8464, 8622, 64839, 67255, 89087, 1...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
8,233,"[4827, 8906, 3652, 1987, 3587]","[1, 47, 50, 110, 150, 356, 364, 608, 648, 778,...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
9,249,"[191005, 69278, 59615, 5523, 3827]","[541, 2717, 4896, 7254, 7438, 8914, 81834, 881...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
10,282,"[4661, 26612, 7018, 26704, 26585]","[111, 1080, 1222, 1258, 2064, 2268, 2378, 2539...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
11,285,"[4920, 25886, 5177, 956, 6983]","[474, 903, 904, 949, 1252, 1276, 1285, 1968, 3...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
12,291,"[2687, 2139, 2761, 1688, 2800]","[4993, 7153, 122904, 134853]",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
13,292,"[120799, 122882, 68791, 70336, 61350]","[440, 1278, 1573, 2291, 2302, 56775, 64614, 70...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
14,298,"[6376, 5415, 5685, 5610, 5577]","[163, 208, 413, 562, 741, 784, 886, 1107, 1220...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
15,318,"[140289, 132496, 129428, 140928, 133281]","[176, 535, 1024, 1274, 1289, 1639, 2952, 3728,...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
16,326,"[16, 30, 283, 36, 117]","[1246, 8665, 116897, 117466, 133771, 134130, 1...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
17,341,"[136016, 166461, 103755, 65577, 53121]","[380, 788, 1036, 1370, 2502, 2720, 3624, 3751,...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
18,414,"[113280, 94325, 99117, 176413, 98585]","[412, 951, 1235, 1953, 2019, 3270, 3359, 5108,...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
19,424,"[50804, 60030, 50800, 66310, 57274]",[115713],0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
20,443,"[47465, 98361, 185033, 2263, 139655]","[1, 110, 260, 296, 318, 356, 608, 5952, 7153, ...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
21,448,"[130083, 128488, 157407, 170875, 175585]","[778, 923, 2534, 3284, 3498, 27685, 53453, 538...",0.4,0.009174,0.017937,1.000000,0.833333,1,0.50874
22,462,"[109282, 97168, 97230, 96150, 102852]","[1097, 1198, 1241, 1968, 2144, 2145, 2527, 299...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
23,495,"[553, 1209, 78467, 54997, 39435]","[19, 104, 145, 150, 158, 160, 173, 208, 216, 2...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
24,511,"[8302, 25795, 25805, 3462, 25850]","[1653, 1970, 2628, 5349, 6534, 41569, 50601, 5...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
25,537,"[86833, 89388, 93287, 86293, 87485]",[55946],0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
26,582,"[53996, 85056, 94018, 104243, 102125]","[593, 2959, 4226, 8368, 40815, 59315, 68358, 9...",0.0,0.000000,0.000000,0.000000,0.000000,0,0.00000
27,601,"[63859, 111146, 152081, 26183, 157865]","[1, 47, 904, 908, 912, 953, 1136, 1193, 1197, ...",0.2,0.013514,0.025316,0.333333,0.333333,1,0.16958